# Read & Prepare 'Engine' Dataset for Joining

In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv('../data/ntsb/ntsb_engines.csv',usecols=['ev_id','Aircraft_Key','eng_type','eng_no'])
data['accident_id'] = data['ev_id'].astype(str) + '_' + data['Aircraft_Key'].astype(str)
data = data[data['eng_no']==1].drop(columns='eng_no')

In [28]:
engine_dummies = pd.get_dummies(data['eng_type'],dtype=int,prefix='engine')

In [37]:
engine_dummies.sum()

engine_ELEC       26
engine_GTFN       14
engine_HR          1
engine_LR          2
engine_NONE       33
engine_REC     19283
engine_TF       1035
engine_TJ        154
engine_TP       1324
engine_TS       1202
engine_UNK        31
dtype: int64

#### Note:
Looking above, it's worth considering how useful these will be given that we have only ~23k total observations over 25 years. Also, some only have a single instance, so we might be well-suited to pare down to those above a certain threshold - say, 1,000?

In [32]:
export = pd.concat([data['accident_id'],engine_dummies],axis=1)

In [38]:
export.to_csv('../data/ntsb/cleaned/engine_data.csv')