# Read & Prepare 'Findings' Dataset for Joining

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/ntsb/ntsb_findings.csv',usecols=['ev_id',
                                                             'Aircraft_Key',
                                                             'finding_no',
                                                             'finding_description',
                                                             'Cause_Factor'])
data['accident_id'] = data['ev_id'].astype(str) + '_' + data['Aircraft_Key'].astype(str)

/var/folders/gt/llhq12_57w5fdzbm5g__rpj00000gn/T/ipykernel_32568/4234333723.py:1: DtypeWarning: Columns (0,10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../data/ntsb/ntsb_findings.csv',usecols=['ev_id',

In [6]:
data = data[data['Cause_Factor']!='NaN']

In [7]:
data

,ev_id,Aircraft_Key,finding_no,finding_description,Cause_Factor,accident_id
0,20080107X00026,1,1,Personnel issues-Action/decision-Info processi...,C,20080107X00026_1
1,20080107X00026,2,1,Personnel issues-Action/decision-Info processi...,C,20080107X00026_2
2,20080109X00036,1,1,Environmental issues-Conditions/weather/phenom...,F,20080109X00036_1
3,20080109X00036,1,2,Aircraft-Aircraft oper/perf/capability-Perform...,C,20080109X00036_1
4,20080107X00027,1,1,Environmental issues-Conditions/weather/phenom...,F,20080107X00027_1
...,...,...,...,...,...,...
67998,20250212199686,1,4,Personnel issues-Action/decision-Action-Forgot...,NaN,20250212199686_1
67999,20250212199691,1,1,Personnel issues-Psychological-Attention/monit...,NaN,20250212199691_1
68000,20250212199691,1,2,Environmental issues-Physical environment-Obje...,NaN,20250212199691_1
68001,20250218199714,1,1,Personnel issues-Action/decision-Action-Forgot...,NaN,20250218199714_1
68002,20250218199714,1,2,Aircraft-Aircraft power plant-Engine controls-...,NaN,20250218199714_1

In [28]:
engine_dummies = pd.get_dummies(data['eng_type'],dtype=int,prefix='engine')

In [37]:
engine_dummies.sum()

engine_ELEC       26
engine_GTFN       14
engine_HR          1
engine_LR          2
engine_NONE       33
engine_REC     19283
engine_TF       1035
engine_TJ        154
engine_TP       1324
engine_TS       1202
engine_UNK        31
dtype: int64

#### Note:
Looking above, it's worth considering how useful these will be given that we have only ~23k total observations over 25 years. Also, some only have a single instance, so we might be well-suited to pare down to those above a certain threshold - say, 1,000?

In [32]:
export = pd.concat([data['accident_id'],engine_dummies],axis=1)

In [38]:
export.to_csv('../data/ntsb/cleaned/engine_data.csv')